@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Markazi+Text:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap');

html {
    background-color: var(--background);
}

:root {
    --border-color: #219ebc;
    --screen-color: #8ecae6;
    --background: #023047;
    --text-color: aliceblue;
    --accent-color1: #ffb703;
    --accent-color2: #fb8500;
    --nav-foot: #39505b;
    --text-center: center;
    --main-font: Markazi Text, sans-serif;
}

body {
    margin: 0 auto;
    width: 45%;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    text-align: var(--text-center);
    font-family: var(--main-font);
    color: var(--text-color);
}

h1 {
    margin-bottom: -1rem;
}

#phone-container {
    
    background-color: var(--screen-color);
    position: relative;
    height: 450px;
    min-width: 230px;
    border: solid 12px var(--border-color);
    border-radius: 15px;
}

#front-camera {
    background-color: rgb(38, 37, 37);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: auto;
}

#phone-nav-footer-upper {
    background-color: var(--nav-foot);
    position: relative;
    min-width: 100%;
    height: 20px;
    border: 0px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#phone-nav-footer-lower {
    background-color: var(--nav-foot);
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
}

#phone-text,
#results-div {
    text-align: var(--text-center);
    font-family: var(--main-font);
    font-size: 1.8rem;
    color: var(--text-color);

}

#results-div {
    max-width: 230px;
}

#user-input {
    position: relative;
    display: block;
    text-align: var(--text-center);
    font-family: var(--main-font);
    font-size: 25px;
    width: 90%;
    margin: 0 auto;
    height: 25px;
}

#user-input:focus {
    border: none;
}

input:focus {
    outline: var(--accent-color1) 2px solid;
}

#check-btn,
#clear-btn {
    text-align: var(--text-center);
    font-family: var(--main-font);
    font-size: 1.2rem;
    width: 45%;
    margin-top: 10px;
    margin-left: 7px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--background);
    font-weight: 550;
}

#check-btn:hover,
#clear-btn:hover {
    color: var(--accent-color2);
}